<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <link  rel="stylesheet" href="vuetut.css">
  <title>Vue Tutorials</title>
</head>
<body>
  <div id="vue-app-one"> 
    <h1>My favorite food is:</h1>
    <input type="text" ref="input"/>
    <button v-on:click="readRefs()">submit your fav food</button>
    <p>your fav food is: 
      <span v-show="somethingSubmitted" id="fav-food-output">{{output}}</span>
    </p>
    <!-- tutorial 16 -->


    <h2>{{title}}</h2>
    <!-- computed propertied don't need the parentheses() like functions do -->
    <p> {{greet}} </p>
    <greeting> </greeting>
  </div>
<hr>
  <div id="vue-app-two">
    <h2>{{title}}</h2>
    <p>same greeting as above, but in the second object</p>
    <greeting> </greeting>
    <button v-on:click="changeTitle">Change app 1 title</button>
    <!-- punch-a-doll game net ninja tutorial #13 -->
    <!-- bag image -->
    <!-- when boolean in {name: element} is true, class is applied, when "false" it's removed. Here, the boolean takes the same value as the val associated with "ended" in the vue data object-->
    <div id="bag" v-bind:class="{burst: ended}"></div>
    <!-- bag health -->
    <div id="bag-health">
      <div id="hp-pool" 
      v-bind:style="{width: health + '%'}" v-bind:class="{drained: ended}"></div>
      <div id="dmg-bumper" 
      v-bind:style="{width: bumper*2 + 'px'}"
      v-show="!ended"></div>
    </div>
    <p> hit for {{bumper}} damage</p>
    <!-- game controls -->
    <div id="controls">
      <button v-show="!ended" v-on:click="punch()"> Hit </button>
      <br>
      <button v-on:click="restoreSlimeHealth()"> Restart </button>
    </div>

    <h1>looping through lists</h1>
    <ul>
      <li v-for="x in characters"> {{ x }}</li>
    </ul>
    <ul style="list-style: none">
      <!-- making the names uppercase by embedding Javascript -->
      <li v-for="unit in units">{{ unit.name.charAt(0).toUpperCase() + unit.name.substr(1)}} has an attack value of {{unit.atk}}</li>
      <hr>
      <!-- using index to make a numbered list,  -->
      <li v-for="(unit, index) in units">Unit no.{{index + 1}} :
        <span style="font-size:30px; font-weight:bold;">{{ unit.name.charAt(0).toUpperCase() + unit.name.substr(1)}} </span> 
        has an attack value of 
        <span style="background:black; color:red; padding: 0 3px;font-size:25px;">
          {{unit.atk}}
        </span>
      </li>
    </ul>
    <hr>
    <!-- templates in HTML allow for a grouping that VUE can target, without cluttering up the HTML output with extra DIV tags. -->
    <template v-for="unit in units">
      <div v-for="(val, key) in unit" style="padding-left:20px">
        <p>{{key}} : {{val}}</p>
      </div>
    </template>

    <!-- net ninja vue totorial videos #11 -->
    <h1>conditionals</h1>
    <button v-on:click="hider = !hider">Toggle hidden message</button>
    <button  v-on:click="success = !success">toggle success</button>
    <!-- in [ v-if ] , setting a data variable to false will remove the associated HTML tag from existing in the console-->
    <!-- <p v-if="hider">I'm a hidden message</p>
    <p v-else-if="success">I'm only shown successfully if the prior message is hidden </p> -->

    <!-- v-show lets the element remain, but its display gets set to "none" ; no "else-if" behavior like above-->
    <p v-show="hider"> hidden message </p>
    <p v-show="success"> button successfully showed a message</p>
    <hr>
    <label>Name:</label>
    <!-- two-way data binding actively updates a screen output, useful for a preview model -->
    <input type="text" v-model="name"/>
    <label>Age:</label>
    <input type="text" v-model="age"/>
    <button v-on:click="a++">Increase a var</button>
    <p> the var a is currently {{a}}</p>
    <p>age plus a is {{addToA}}</p>

    <h1>{{ name }} is {{ age }} years old</h1> 
    <p>Their proposed wage is ${{wage}}/hr</p>
    <button v-on:click="wage++">Increase</button>
    <button v-on:click="wage--">Decrease</button>
    <!-- note, this calculation reverts to the default value on refresh-->
    <!-- can call functions from the object as so -->
    <p>{{greet(targetHrs)}}</p>
    <!-- note: If you set strings in the function, you can't manipulate styling of individual parts as easily as in the HTML -->
    <!-- simple wage calculations for hours of work -->
    <div id="buttonBlock">
        <button v-on:click="num++">Increase hrs</button>
        <button v-on:click="num--">Decrease hrs</button>
        <br>
        
      <p>A {{num}} hr study session would make:</p> 
      <p id="wageTotal">${{calculateWage(num)}}</p>

    </div>
    <br><br>
  <a v-bind:href="website">Dummy link</a>
    <!-- Allows an anchor tag to be created from the HTML template written out in the object (in the JS file for this example) -->
  <p v-html="websiteTag"></p>
  <!-- instead of "v-on:event='' " you can write @event=''-->
  <div id="canvas" @mousemove="updateXY"> {{ x }}, {{ y }}</div>
  </div>
  <script src="vuetut.js"></script>
</body>
</html>