fontawesome-free-5.10.2-web/
standalones/
vueTutorialProjects/

builder_notes.html

fixedpage1.html
fixedpage1.css
fixedpage1.js

gridplay.html
gridplay.css
gridplay.js

home.html
home.css
home.js

port_2.html
port_2.css
port_2.js

wpBlog.html