body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #449;
}

#rewardBtn:disabled{
  background:#ccc;
  color: #999;
  outline: 3px solid rgba(29, 12, 12, 0.616);
  outline-offset: -3px;
}

.finishedCrate{
background: #6a9;
color: gold;
border-color: gold;
font-weight: 650;
}

#greedLabel {
  font-size: 32;
  font-weight:620;
  letter-spacing: 2px;
  text-decoration: underline;
}

#time-trial{
  /* border: 3px solid cyan; */
  display: flex;
  flex-direction: column;
}

#clock{
  position: relative;
  background: violet; /* need a clock face here*/
  width: 316px;
  height:316px;
}
/* select all children from clock */
#clock > #hh, #mh, #sh {
  position: absolute;
  transform-origin: bottom;
  background: #09c;
  border-radius: 7px;
  opacity: 1;
}
#clock > #hh{
  width: 12px;
  height:90px;
  top:68px;
  left:152px;
}
#clock > #mh{
  width: 6px;
  height:120px;
  top:38px;
  left:155px;
}
#clock > #sh{
  width: 2px;
  height:130px;
  top:29px;
  left:157px;
  opacity: 0.3;
}

#digiFace{
  position: relative;
  background: black;
  border: 4px solid lime;
  width: 800px;
  height: 133px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#digiDisp div{
  color: lime;
  font-family: 'UnifrakturCook', cursive;
  font-size: 75px ;
}
#amORpm{
  color: lime;
  font-size: 20px;
  /* margin: -20px 0 0 0; */
  position: absolute;
  top: 0px;
  left: 5px;
}

#countdown-control{
 width: 400px;
 position: relative;
}

#countdown-display{
  border: 4px solid #09c;
  background: black;
  color:violet;
  border-radius: 8px;
  float:left;
  text-align: center;
  height:65px; width:90px;
  padding: 5px 0 0 0; 
}

#timeinputhead {
  border: 4px solid #09c;
  background:rgb(80, 32, 102);
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timeinputhead label {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 550;
  font-size: 26px;
}

#timesetters{
  border: 4px solid violet;
  display:flex;
  justify-content: space-between;
  /* margin: 10px 0 0 0; */
}

#timer-start-btn{
  border: 4px solid black;
  background: violet;
  color:black;
  font-weight:650;
  box-shadow: 2px 0px 8px 2px gold;
}

#timeProgressBar {
  background: #777;
  border: 5px solid cyan;
  height: 87px;
  width: 398px;
  position:absolute;
  top:0;
  left:400px;
  display:flex;
  align-items: center;
}

#inbar-1 {
  color: yellow;
  background: green;
  height: 55px;
  width: 100%;
}
/* ******************* */

#title_header {
  background: #559;
  color:#dd9;
  text-align: center;
  border-bottom: 5px dotted black;
}

.box1 {
  /* position: absolute; */
  height:50px;
  width: 500px;
  margin: 10px 0px;
  padding:10px;
  background: white;
}
.box1 p{
  width:40px;
  height:40px;
  float: left;
  /* hide text with indent property */
  text-indent: -9999px;
  margin: 5px;
}
#c1 {
  background: #449;
}
#c2 {
  background: #f2f;
}
#c3 {
  background: #7dd;
}
#c4 {
  background: #fc5;
}
#c5 {
  background: #833;
}
#c6 {
  background: #77c
}

.grad_container {
  float: left;
  clear: both;
  width:100vw;
  text-align: center;
}

.grad_btn {
  border: none;
  border-radius: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 20px;
  padding: 30px;
  width:20vw;
  transition: 0.5s;
  /* This is used to "widen" the display, so the transition can scroll to the right, making the "shine" effect on hover */
  background-size: 200%;
}
.gb1 {
  background-image: linear-gradient(to left, #006494, #D96C06, #006494 )
}
.gb2 {
  background-image: linear-gradient(to left, #D991BA, #CCFBFE, #D991BA)
}
.gb3 {
  background-image: linear-gradient(to left, rgb(76, 167, 91), #85421b,   rgb(76, 167, 91) )
}
.gb4 {
  background-image: linear-gradient(to left, #3A0842, #80D39B, #3A0842 )
}
.gb5 {
  background-image: linear-gradient(to left, #A27E6F, #453643, #A27E6F)
}
.gb6 {
  background-image: linear-gradient(to left, #8AE9C1, #A04668, #8AE9C1)
}
.grad_btn:hover {
  background-position: right;
}

.animated_text {
  color: #115;
  background: #fc5;
  font-family: monospace;
  padding: 0 40px;
  height: 60px;
  width: 190px;
  overflow: hidden;
}
.animated_line {
  text-align: center;
  font-size: 40px;
  line-height: 60px;
}
.animated_line:first-child {
  animation: roll_it 12s infinite;
}

@keyframes roll_it {
  0% {
    margin-top: 0;
  }
  16% {
    margin-top: -60px;
  }
  33% {
    margin-top: -120px;
  }
  50% {
    margin-top: -180px;
  }
  66% {
    margin-top: -120px;
  }
  82% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0;
  }
}

.city_skyline {
  background: url(./img/sciFiCity1.jpg);
  background-size:cover;
  width: 780px;
  height: 500px;
  text-align: center;
  margin: 80px 0;
}
.middle h1{
  font-size: 100px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba( 14, 14, 88, 0.3);
  margin: 160px 0 0 284px;
  background-image: linear-gradient(to left, #3A0842, #80D39B, #3A0842 );
  background-size:200%;
  -webkit-background-clip: text;
  animation: syn1 5s infitnite;
}

@keyframes syn1 {
  /* from {background-position: left 0 top 0;}
  to {background-position: right 0 top 0;} */
  /* 0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  } */
}