<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="shop2.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pricing app front</title>
</head>
<body>
<nav id="top-navbar">
    
    <ul id="navbar-list">
      <li>
        <a class="nav-link" href="../../index.html">Home</a>
      </li>
      <li id="projectDropdown">
        <a class="nav-link" id="projectLink" href="#">Other Projects</a>
        <div class="pDropdown-content">
            <a href="./gameon/idwSnake.html"> IDW Snake Game</a>
            <a href="./gameon/multiSnake.html">Multi- Snake</a>
            <a href="./gameon/multiQuiz/kanjiQuizIndex.html" target>Flashcards</a>
            <a href="./mwo.html">MWO Page</a>
          </div>
      </li>
    </ul>
  </nav>

  <div class="top-page-title">
    <span>A</span>
    <span>m</span>
    <span>a</span>
    <span>z</span>
    <span>i</span>
    <span>n</span>
    <span>g</span>
    &nbsp;
    <span>A</span>
    <span>s</span>
    <span>s</span>
    <span>e</span>
    <span>t</span>
    <span>s</span>
    <span>!</span>
    <span>!</span>
    <span>!</span>
    <span>!</span>
  </div>

  <!-- Vue app for controlling cart data -->
<section class="cartApp">

<!-- cart display and adding items -->
<!-- add to style instead of inline -->
<div id="cart-container" >
  <div id="cart-title">
    <span id="adder-title">Your cart items</span>
  </div>
  <div class="cart-item-list">
  <!-- Placeholder for cart items -->
    <ul id="cart-viewer">
      <li v-for="item in items" class="cart-item">
          <!-- <input class="toggle" type="checkbox" v-model="item.completed"> -->
          <label class="item-label">{{item.itemName}}</label>
          <button class="btn btn-danger" @click="removeItem(item)"> X</button>
      </li>
    </ul>
  </div>
</div> 

  <div id="cart-bottom">
    <div id="cart-total">
      Your total is: <span id="cart-price"> $12345324</span>
    </div>
    <a href="#" id= "clear-cart-btn" class="btn black" onclick="alert('delete all not yet implemented')">Clear Cart Items</a>
  </div>

  <div class="table-container">
  <!-- first pricing table***************** -->
    <div class="pricing-table table1">
      <div class="pricing-header">
        <div class="price">
          <span>$</span>13
        </div>
        <div class="title">
          McFlappy
        </div>
      </div>

      <div class="listing-contents">
        <div class="product-pic">
        </div>

        <ul class="pricing-list">
          <li>Simple</li>
          <div class="separator"></div>
          <li>Reliable</li>
          <div class="separator"></div>
          <li>Flappy</li>
          <div class="separator"></div>
          <li>Entertaining</li>
        </ul>
        <div class="description">
           This little bird will keep you company
           for hours on end. He may need a bit of guidance, but he's a strong-willed pet. Never afraid to keep on flappin'.
        </div>
      </div>
      <a href="#cart-title" class="add-to-cart-btn" id="buy-bird"
      @click="addCartItem('f-bird')">
      Add to cart!</a>
    </div>
    <div class="table-divider"></div>
  <!-- second pricing table***************** -->
    <div class="pricing-table table2">
      <div class="pricing-header">
        <div class="price">
          <span>$</span>87
        </div>
        <div class="title">
          Vaporwave
        </div>
      </div>

      <div class="listing-contents">
        <div class="product-pic">
        </div>
        <ul class="pricing-list">
          <li>Chill</li>
          <div class="separator"></div>
          <li>Nostalgic</li>
          <div class="separator"></div>
          <li>Neon</li>
          <div class="separator"></div>
          <li>80's</li>
        </ul>
        <div class="description">
            Capture the essence of a bygone time with electronically-bottled nostalgia! From synth samples to lo-fi electronica,
            this is the music movement sweeping the nation!
        </div>
      </div>
      <a href="#cart-title" class="add-to-cart-btn" id="buy-vaporwave" @click="addCartItem('Vapor-Wave')">Add to cart!</a>
    </div>
    <div class="table-divider"></div>
  <!-- third pricing table******************* -->
  <div class="pricing-table table3">
    <div class="pricing-header">
      <div class="price">
        <span>$</span>18
      </div>
      <div class="title">
        Liquid Anime
      </div>
    </div>

    <div class="listing-contents">
      <div class="product-pic">
      </div>
      <ul class="pricing-list">
        <li>perk 1</li>
        <div class="separator"></div>
        <li>perk 2</li>
        <div class="separator"></div>
        <li>perk 3</li>
        <div class="separator"></div>
        <li>perk 4</li>
      </ul>
      <div class="description">
          A lenghty description spanning many words but being more interesting than that usual lorem ipsum stuff which isn't even English, so it just comes off as super-pretentious to me, but that's just like, my opinion, man.
      </div>
    </div>
    <a href="#cart-title" class="add-to-cart-btn" id="buy-moe" @click="addCartItem('Liquid-Anime')">Add to cart!</a>
    </div>
  </div>
</section>  

<!-- form validation thing below -->
<div id="sample-form-validation" class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h1>Dummy form validaitons</h1>
        <form>
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" id="name" placeholder="name">
            <div class="invalid-feedback">
              Name must be between 3 and 10 characters, no spaces or numbers
            </div>
          </div>

          <div class="form-group">
            <label>Zipcode</label>
            <input type="text" class="form-control" id="zip" placeholder="zipcode">
            <div class="invalid-feedback">
              Invalid Zipcode 12345(-1234)
            </div>
          </div>
      
          <div class="form-group">
            <label>E-mail</label>
            <input type="text" class="form-control" id="email" placeholder="e-mail">
            <div class="invalid-feedback">
              Invalid E-mail
            </div>
          </div>
        
          <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" id="phone" placeholder="123-456-7890">
            <div class="invalid-feedback">
              Invalid Phone Number
            </div>
          </div>
          <input id="submit-btn" type="sumbit" value="Submit" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>

  <footer id="footer-banner">
    <div>$ &nbsp;O&nbsp; $</div>
    <p>&copy; Straberry Summer Studios</p>
    <div>$ &nbsp;O&nbsp; $</div>
  </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" src="shop2.js"></script>
  </body>
</body>
</html>