.ui-slider-handle { width: 30px; }

#saa-container {
  border: 5px solid violet;
  background-image: url("../../img/saaPlain.PNG");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 600px;
  position: relative;
}

#box-1{
  /* vertical slider for hammer? */
  border: 5px solid lime;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 60px;
  left:120px;
}
#box-2{
  border: 5px solid cyan;
  height: 50px;
  width: 60px;
  position: absolute;
  top: 200px;
  left:180px;
}
#box-3{
  /* INC: possible slider implementation here? */
  border: 5px solid blue;
  height: 30px;
  width: 40px;
  position: absolute;
  top: 123px;
  left:493px;
}
#box-4{
  border: 5px solid blueviolet;
  height: 35px;
  width: 80px;
  position: absolute;
  top: 80px;
  left:213px;
}
#box-5{
  border: 5px solid rgb(240, 221, 54);
  height: 40px;
  width: 80px;
  position: absolute;
  top: 123px;
  left:213px;
}

#bullets{
  border: 5px solid rgb(255, 0, 149);
  background-image: url("../../img/bulletBelt.PNG");
  background-size: cover;
  background-position: center;
  height: 105px;
  width:400px;
  position: absolute;
  top: 280px;
  left:183px;
}

#bars-flex-container{
  display:flex;
}

#slider1{
  width: 200px;
  margin: 0 20px 0 0;
}
.sliders{
  appearance: none;
  width: 100%;
  height: 25px;
  background: rgb(32, 58, 172);
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.sliders:hover {
  opacity: 1; 
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#bow-slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px;
  height: 25px; 
  background: #4CAF50;
  border-radius: 50%;
  cursor: pointer; 
}
#bow-slider::-moz-range-thumb {
  width: 25px; 
  border-radius: 50%;
  height: 25px; 
  background: #4CAF50; 
  cursor: pointer; 
}

#slider-xval{
  border:3px solid violet;
  width: 200px;
  text-align: center;
}

#bow-load-msg{
  border: 2px solid red;
  display: none;
}

/* progress bar stuff */
/* Class of prog bars */
.prog-bar{
  background-color: #aaa;
  height:20px;
  width: 200px;
}

#instruction-msg{
  border: 3px solid black;
}

#stop-bar-btn {
  border: 3px solid #a2a2a2;
}

#saa-reload-btn{
  border: 3px solid #a2a2a2;
}

#saa-eject-btn{
  border: 3px solid #a2a2a2;
}



#saa-prog-bar {
  position:relative;
}

/*prog-bar width 200px
  left by 140px
  width is 10%
  70% - 80% is in gold range
*/

#target-chunk-1{
  background: gold;
  width:10%;
  height: 20px;
    position:absolute;
    top:0;
    /* subtract inbar-1's width from the left position so ticker is in proper range of target area for success */
    left: 136px;
}

#inbar-1{
  background-color:blue;
  width: 4px;
  height: 30px;
    position:absolute;
    top:0;
    left: 0%;
}

#bar-xval{
  border: 4px solid lime;
  height:20px; width:50px;
  margin-top: 10px;
}

#ammo-display{
  border: 4px solid salmon;
  height:20px; width:150px;
  position:absolute;
  left:200px;
}
#cases-display{
  border: 4px solid black;
  height:20px; width:150px;
  position:absolute;
  left:200px;
  top:28px;
}
#clear-chambers{
  border: 4px solid rgb(41, 123, 138);
  height:20px; width:150px;
  position:absolute;
  left:200px;
  top:55px;
}
#hit-msg{
  border: 4px solid green;
  text-align: center;
  height:20px; width:130px;
  position:absolute;
  left:60px;
  top:29px;
}
#total-dmg{
  border: 4px solid rgb(235, 45, 162);
  text-align: center;
  height:20px; width:130px;
  position:absolute;
  left:60px;
  top:55px;
}