<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>war cards test</title>
</head>
<body>
   <div class="message">Select number of players</div>
  <div class="userPlay">
    <input type="number" value="3">
    <button> Start </button>
   
    <button class="hide" ng-show="atkBtnVisible">Attack</button>
    <div class="gameplay"></div>
  
    <div class="res"></div>
  </div>

</body>
</html>
